@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Theme-based styling */
body {
  @apply bg-light dark:bg-dark text-dark dark:text-light transition-colors duration-300;
}

/* AOS animations for scrolling effects */
[data-aos] {
  pointer-events: none;
}
[data-aos].aos-animate {
  pointer-events: auto;
}
